@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
:root {
    --header-height: 3rem;
}
:root {
    --body-font: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0;
    font-family: var(--body-font);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section-title {
    position: relative;
    font-size: 1.5rem;
    color: #1261a0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.3rem;
    background-color: #1261a0;
}
.grid-container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin: 0 1rem;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0 1rem;
    z-index: 100;
    background-color: #fff;
    height: var(--header-height);
    box-shadow: 0 1px 4px rgba(146, 161, 175, 0.15);
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.nav__logo-link {
    color: #1261a0;
    font-size: 1.5rem;
}
.nav-toggle {
    font-size: 1.5rem;
    color: #1261a0;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: #1261a0;
        transition: 0.5s;
        border-radius: 0 0 0 40px;
    }
}
.close-menu {
    position: absolute;
    color: #fff;
    top: 0.8rem;
    right: 2rem;
    font-size: 1.5rem;
}
.fa-times {
    color: #fff;
}
.nav__list {
    padding-top: var(--header-height);
}
.nav__item {
    margin-bottom: 3rem;
}
.nav__link {
    position: relative;
    color: #fff;
    cursor: pointer;
}
.nav__link:hover {
    position: relative;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #000;
}
.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #000;
}
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #fff;
}
.show-menu {
    right: 0;
}
.home {
    height: calc(100vh - 3rem);
    row-gap: 2rem;
}
.home__data {
    align-self: center;
}
.home__title {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}
.home__title-first {
    color: #1261a0;
}
.home__social {
    display: flex;
    flex-direction: column;
}
.home__social-icon {
    width: max-content;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #000;
    transition: 0.5s;
}
.home__social-icon:hover {
    color: #1261a0;
}
.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
}
.home__img img {
    padding-top: 5rem;
}
.button {
    display: inline-block;
    background-color: #1261a0;
    color: #fff;
    padding: 0.75rem 2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.button:hover {
    background-color: #fff;
    letter-spacing: 1px;
    color: #1261a0;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.about {
    margin-top: 4rem;
}
.about__container {
    row-gap: 2rem;
    text-align: center;
}
.about__subtitle {
    margin-bottom: 1rem;
}
.about__img {
    justify-self: center;
}
.about__img img {
    width: 200px;
    border-radius: 0.5rem;
}
.about__text {
    padding: 0 1.5rem 2rem;
}
.skills__container {
    row-gap: 2rem;
    text-align: center;
}
.skills__subtitle {
    padding-bottom: 2rem;
}
.skills__data {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 29, 0.15);
}
.skills-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #000;
}
.skills__names {
    display: flex;
    align-items: center;
}
.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1261a0;
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: 10;
}
.skills__html {
    width: 90%;
}
.skills__css3 {
    width: 80%;
}
.skills__sass {
    width: 50%;
}
.skills__bootstrap {
    width: 50%;
}
.skills__javascript {
    width: 65%;
}
.skills__git {
    width: 60%;
}
.skills__react {
    width: 50%;
}
.certification__container {
    row-gap: 2rem;
    text-align: center;
}
.certification__data {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.certification__school {
    font-size: 1rem;
    font-weight: 500;
}
.experience__container {
    row-gap: 2rem;
    text-align: center;
}
.experience__data {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.experience__description {
    padding-top: 1rem;
}
.contact__container {
    row-gap: 2rem;
}
.contact__input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #1261a0;
    outline: none;
    margin-bottom: 2.5rem;
}
.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    background-color: #1261a0;
    color: #fff;
    padding: 1rem 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    transition: 0.5s;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.contact__button:hover {
    background-color: #fff;
    color: #1261a0;
}
.footer {
    background-color: #201c1c;
    color: #fff;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}
.footer__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.footer__social {
    margin-bottom: 2rem;
}
.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}
.footer__icon-instagram:hover {
    color: #8a3ab9;
}
.footer__icon-twitter:hover {
    color: #1da1f2;
}
.footer__icon-facebook:hover {
    color: #4267b2;
}
.scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }
.showBtn {
    opacity: 1;
    transform: translateY(0);
}
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .section-title::after {
        width: 80px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: 2.5rem;
        margin-bottom: 0;
    }
    .nav-toggle,
    .close-menu {
        display: none;
    }
    .nav__link {
        color: #1261a0;
    }
    .nav__link:hover {
        color: #1261a0;
    }
    .nav__link:hover::after {
        background-color: #1261a0;
    }
    .home {
        height: 100vh;
    }
    .home__data {
        align-self: flex-end;
    }
    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon {
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .home__img {
        width: 300px;
        bottom: 15%;
    }
    .about__container .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
    .about__img img {
        width: 300px;
    }
    .contact__form {
        width: 360px;
    }
    .contact__container {
        justify-items: center;
    }
}
@media screen and (min-width: 1024px) {
    .grid-container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__img {
        width: 500px;
        right: 10%;
    }
}
